<%= content_tag(:div, :class => 'fileupload', :id => element_id) do %>
  <div class="gray-blocks">
    <div class="bg-bl">
      <div class="gr-title"><%= label %></div>
      <div class="fileupload-list ill-bl galery">
        <%= render :partial => 'admin/fileupload/file', :collection => assets %>
      </div>
      <div class="file-types">
        <span class="fileupload-button">
          <button type="button"><%= t('admin.fileupload.button') %></button>
        </span>
        <div class="type-info">
          <span><%= file_title %>. <%= t('admin.fileupload.max_size') %>:</span><strong><%= file_max_size %> MB</strong>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    new qq.FileUploaderInput(<%=raw script_options %>);
    new AdminAssets('<%= element_id %>', '<%= sort_admin_assets_path(:klass=>asset_klass) %>', <%= multiple ? 'true' : 'false' %>);
  });
</script>
